/** Geral */
$backgroundColor: #f2f6fa;
// $brandColor: #ff5a00;
$brandColor: #15b35a;
$dangerColor: #ff4337;
$warningColor: #ff9933;
$primaryColor: #0080ff;
$borderColor: #ced3d9;
/** Menu */
$borderMenu: #ced3d9;
/** Geral */
$textColor: #5c6166;
$brandBarHeight: 67px;
